@charset "utf-8";
.box {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    border: 5px 0 5px 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.txt {
    padding: 10px;
}