@charset "utf-8";
/* CSS Document */

*, html, body{
	padding: 0;
	margin: 0;
}

*, *:berfore, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after{
	content: " ";
	display: table;
}
.cf:after{
	clear: both;
}
.cf{
	*zoom:1;
}
section{
	margin-left:55px;
	font: 62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
}
#lateral{
	padding: 0 50px 0;
	-moz-transition:all 0.5 ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size: 1em;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

	height: 100%;
	overflow: hidden;
	width: 300px;
	position: fixed;
	top: 0;
	left: -320px;
}
#lateral:before{
	z-index: 1000;
	font-size: 4em;
	color: white;
	position:absolute;
	left: 4x;
	top: 45px;
}
#lateral:hover:before, #lateral:focus:before{
	left: -500px;
}
#lateral:hover, #lateral:focus, #lateral:active{
	overflow: scroll;
	-moz-transform:translate(320px, 0);
	-webkit-transform:translate(320px, 0);
	-o-transform: translate(320px, 0);
	transform: translate(320px, 0);
	padding-right: 0;
}
#lateral .box{
	list-style-type: none;
	margin-bottom: 1em;
	padding-bottom: 1em;
}
#lateral h3{
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
	font-style: normal;
	padding-bottom: 0.2em;
	margin: 2em 0 2em 0.81em;
	color: rgb(255, 255, 255);
	border-bottom: 4px solid rgb(155, 155, 155);
	
}
#menu {
	font-style: italic;
	position: relative;
	font-size: 1.0em;
	margin: 1em 0 1em -1em;
	padding: 0;
}
#menu li{
	padding: 0;
	margin: 0;
}

#menu li a, #menu li a:link{
	font-size: 1.2em;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	-moz-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	transition: all 1.2s ease;
}

#menu li a:hover{
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.2);
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#logo {
	padding: 0;
	margin-top: 5px;
	display: block;
}
@media (max-width: 500px) {
	section {
		margin-left: 0;
		background-size: 100% 28em!important;
	}
	#lateral {
		padding: 0;
		font-size: 1.2em;
		height: 100%;
		overflow: auto;
		width: 100%;
		position: static;
		top: 0;
		left: 0;
	}
	#lateral:before{
		z-index: 1000;
		width: 0;
		text-align: center;
		content: " ";
		font-size: 0;
		color: white;
		position: static;
		top: 0;
		left: 0;
		display: inline-block;
	}
	#lateral:hover, #lateral:focus{
		overflow: scroll;
		transform: none;
	}
	#menu li a{
		border-bottom: 1px solid #ccc;
	}
	#menu li:first-child a{
		border-top:1px solid #ccc;
	}
}
div#interface {
    width: 1200px;
    background-color: #F0F0F0;
    margin:-20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba (0,0,0,0.5);
    padding: 10px;
}
